.descriptio{
    display: block;
    width: 80%;
    text-align: justify;
}
.curse-input {
    display: inline-block;
    width: auto;
    align-self: baseline;
    padding: 20px;
}

.description{
    display: block;
}
.profile-data-container{
    text-align: center;
}
.profile-data{
    display: inline-block;
    text-align: center;
    border-bottom: solid thin black;
    padding: 5px;
    width: 500px;
}
.profile-form.input-field{
    width: 400px;

}