a{    
    color: white;
    font-size: xx-large;    
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;    
    text-align: center;
}
.menu-items-cont{
    background-color: tomato;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

    display: block;
    height: 40px;
    width: 100%;
}
.item{
    padding: 1px;
    display: inline;
    width: auto;
    height: 30px;
    margin: 6px;
    vertical-align: middle;
    font-size: x-large;
}
.item.selected{
    color: black;

}
.item:hover{
    text-shadow: black;
    text-decoration-line: underline;
    text-decoration-line: overline;
}