h1{
    font-size: 2em;    
    margin-bottom: 5px;
}
a{
    color:red;
}

.main-container{
    display: block;
    text-align: center;    
}
input {
    font-size: x-large;
    margin: 1ex;
}
div span{
    font-size: large;
    margin-bottom: 10px;  
}

/*
.main-container{
    display: block;
    text-align: center;    
    width: 100%;
    margin: 0;  
    columns: 2;  
}
form div{
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 10px
}
.signin-form-inputs{
    display: block;
    padding: 5px;
    margin: 5px;
    width: 100px;
    border: red solid;
}
div span{
    font-size: medium;
}
*/
.errmsg{
    margin-top: 55px;
    color:red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}
