
#main-container{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    
}
table{
    display:inline-table;
    height: 100%;
    border: thick black solid;
    width: 95%;        
}
table th{
    border: thin black solid;     
}
td{    
    border: thin black solid;
    height: 100px;
}

.col{
    width: 75px;
}

.week.col.SEMANA{
    width: 6%;
}

.col.DOMINGO{
    background-color: rgba(243, 241, 241, 0.849);
    width: 5%;
}
.col.SÁBADO{
    background-color: rgba(243, 241, 241, 0.849);
    width: 5%;
}


