/*HORARIO MENSUAL*/
#main-container{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 100px;    
}
table{
    display:inline-table;
    height: 100%;
    border: thick black solid;
    width: 95%;        
}
table th{
    border: thin black solid;     
}
td{    
    border: thin black solid;
    height: 100px;
}

.col{
    width: 75px;
}

.week.col.SEMANA{
    width: 6%;
}

.col.DOMINGO{
    background-color: rgba(243, 241, 241, 0.849);
    width: 5%;
}
.col.SÁBADO{
    background-color: rgba(243, 241, 241, 0.849);
    width: 5%;
}
/*HORARIO MENSUAL END*/

/*EDICIÓN DATOS PERFIL*/
.profile-data-container{
    font-family: arial;    
    columns: 2;    
    margin: 3%;
    align-self: baseline;
}
.profile-data{
    margin: 2%;
    background-color: pink;
    
}
.profile-data span{
    padding: 1%
}

.selector-container select{
    border: none;
    border-bottom: thin black solid;
}
.form-container{
    border: solid thin black;
    padding: 1%;
    margin-bottom: 100px;    
}
/*EDICIÓN DATOS PERFIL END*/



/*EDICIÓN ASIGNATURAS*/
.selector{
    display: inline-table;
}
/*EDICIÓN ASIGNATURAS END*/